body{
  display:block;
  margin: 0px !important;
}
.container {
  height: 100vh;
  background-color: #F4F7F5;
  color: #222222;
  justify-content: center;
}
button {
    background-color: #2f2f2f;
    border: none;
    color: white;
    padding: 1vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h1{
  font: 12vh "Merriweather", sans-serif;
  margin: 0 auto;
  text-align: center;
  line-height: 12vh;
  font-weight: 400;
}
h2{
  font: 8vh "Merriweather", sans-serif;
  margin: 0 auto;
  text-align: center;
  line-height: 8vh;
  font-weight: 900;
}
h3{
  font: 6vh "Merriweather", sans-serif;
  margin: 0 auto;
  text-align: center;
  line-height: 6vh;
  font-weight: 900;
}
h4{
  font: 4vh "Merriweather", sans-serif;
  margin: 0 auto;
  text-align: center;
  line-height: 4vh;
}
h5{
  font: 3.5vh "Helvetica", sans-serif;
  margin: 0 auto;
  text-align: center;
  line-height: 3.5vh;
}
h6{
  font: 3vh "Helvetica", sans-serif;
  margin: 0 auto;
  text-align: center;
  line-height: 3vh;
}

p {
  text-align: center;
  font: 2.5vh "Helvetica", sans-serif;
  line-height: 2.5vh;

}

span{
  font: 2vh "Helvetica", sans-serif;
  text-align: left;
  margin: 0 auto;
}
a{
  font: 2vh "Helvetica", sans-serif;
}
ul{
  list-style-type: none;
  line-height: 3vh;
}
li{
  margin:0 0 1.5vh 0;
}
.white{
  color:white;
}
.left{
  text-align:left;
}
.right{
  text-align:right;
}
.header-section{
  text-align: left !important;
  padding: 40vh 10vw 40vh 10vw;
  text-align: center;
  background: #2f2f2f;
}
.footer-section{
  padding-top: 20vh !important;
  padding-bottom: 10vh!important;
  background: #2f2f2f;
}
.contact-links{
  display:relative;
  color:white;
}
.contact-title{
  padding-bottom:10vh;
}
.section {
  padding: 20vh 10vw 0vh 10vw;
  text-align: center;
 }

.header {
  display: inline-block;
}
.line-separator{
  height:1px;
  width:100%;
  text-align:center;
  background: white;
  border-bottom:1px solid white;
}
.line-separator-dark{
  height:2px;
  width:100%;
  text-align:center;
  background: white;
  border-bottom:2px solid #2f2f2f;
}

.rectangle{
  border:1px solid #000;
}
.v-center{
  display: table-cell;
  vertical-align: middle;
}
.v-center-container{
  display: table;
}
.experience-list{
  display:inline-grid;
}
.experience-img{
}

.experience-desc{
  padding: 3vh 3vw 3vh 3vw;
  text-align:left;
}

.about__links {
  text-align: center; }

.list {
  -webkit-padding-start: 0;
  padding: 0 15px; }


.row {
  padding-top: 3vh;
}
.projects{
  display: flex;
  flex-wrap: wrap;
}
.project {
  display:inline-block;
  width:30vw;
  padding: 1vh;
}
.project a{
  width:30vw;
}
.project p{
  font-size: 2.5vh;
  text-align: center;
  line-height: 3vh;
}
.project-desc{
  padding:1vh 0.5vw 1vh 0.5vw;
  text-align: center;
  background-color: white;

}
#work:hover,
#about:hover,
#projects:hover,
#contact:hover {
  cursor: pointer; }

.network{
  padding-top:10vh;
  padding-bottom:10vh;
}
.logo{
  padding-left:2vw;
  padding-right:2vw;
}
.logo img{
  width: 5vw;
}
.item {
  text-align: center;
  margin: 20px auto; }

.about__link {
  margin: 0 10px; }

.nav,
.about__link,
.project,
.item {
  list-style: none; }

.nav,
.about__link {
  display: inline-block; }

.nav {
  margin-right: 1vw;
  position: relative; }

.nav:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #f7538d;
  content: "";
  transition: width 0.2s; }

.nav:hover:after {
  width: 100%; }


.about__title {
  text-align: center; }

.about_description{
  width:20vw;
  text-align: left;
}
.about_facts{
  width:40vw;
  text-align: left !important;
}
.about_stuff{
  padding: 0 0 0 0;
  display:inline-flex;
}
.about_intro{
  padding: 10vh 0 7vh 0;
  display:inline-flex;
}
.section-title {
  border-width: 0 0 3px 0;
  display: inline-block;
  margin-right: 40px; }

a {
  color: black;
  text-decoration: none; }

.mailto {
  color: white;
  text-align: center;
  position: relative; }

.press {
  margin-top: 100px; }

.home {
  margin-bottom: 100px; }


footer {
  position: fixed;
  bottom: 2%;
  right: 2%; }
  footer a {
    border-bottom: thin dotted #000000; }

.underline
.underline-pink,
.underline-blue,
.underline-green {
  position: relative; }

.underline:hover:after
.underline-pink:hover:after,
.underline-blue:hover:after,
.underline-green:hover:after {
  width: 100%; }

.underline-pink:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #f7538d;
  content: "";
  transition: width 0.2s; }

.underline-blue:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #51dff0;
  content: "";
  transition: width 0.2s; }

.underline:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  content: "";
  transition: width 0.2s; }
.underline-green:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #348c45;
  content: "";
  transition: width 0.2s; }

@media (max-width: 992px) {
  .title {
    font-size: 60px;
    line-height: 64px; }
  .heading {
    margin: 80px auto auto; }
    .heading .header {
      margin-right: 50px;
      margin-left: 50px; }
    .heading .heading-img {
      padding: 0;
      width: 300px; }
  .about_description,
  .contact__desc {
    padding: 0 40px; }
  .project__title,
  .project__desc,
  .project__info {
    display: block;
    text-align: center; }
  .project__title {
    margin: 0 auto;
    position: initial;
    width: 300px; }
  .project__desc {
    margin-top: 30px;
    margin: 0 auto;
    position: initial;
    padding: 0px 10px; }
  .project__info {
    margin: 0; }
  .project__info--desc {
    text-align: center; } }

@media (max-width: 592px) {
  .heading .header {
    margin-right: 0;
    margin-left: 0; }
  .heading .heading-img {
    width: 270px; }
  .project__title, .project__desc {
    width: 300px; } }
