body{
  display:block;
  margin: 0px !important;
}

button {
    background-color: #2f2f2f;
    border: none;
    color: white;
    padding: 1vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h1{
  font: 12vh "Merriweather", sans-serif;
  margin: 0 auto;
  text-align: center;
  line-height: 12vh;
  font-weight: 400;
}
h2{
  font: 8vh "Merriweather", sans-serif;
  margin: 0 auto;
  text-align: center;
  line-height: 8vh;
  font-weight: 900;
}
h3{
  font: 6vh "Merriweather", sans-serif;
  margin: 0 auto;
  text-align: center;
  line-height: 6vh;
  font-weight: 900;
}
h4{
  font: 4vh "Merriweather", sans-serif;
  margin: 0 auto;
  text-align: center;
  line-height: 5vh;
}
h5{
  font: 3.5vh "Merriweather", sans-serif;
  margin: 0 auto;
  text-align: center;
  line-height: 4vh;
}
h6{
  font: 2.5vh "Merriweather", sans-serif;
  margin: 0 auto;
  text-align: center;
  line-height: 3vh;
}

span{
  font: 2vh "Merriweather", sans-serif;
  text-align: left;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none; }
p {
  font: 2.5vh "Helvetica", sans-serif;
  margin: 0 auto;
  line-height: 3vh;
}

.container {
  height: 100vh;
  background-color: #F4F7F5;
  color: #222222;
  justify-content: center;
}

.section {
  padding: 10vh 10vw 0vh 10vw;
  text-align: center;
 }
.header-section{
  text-align: left !important;
  padding: 40vh 10vw 40vh 10vw;
  text-align: center;
  background: #2f2f2f;
}
.footer-section{
  padding-top: 20vh !important;
  padding-bottom: 10vh!important;
  background: #2f2f2f;
}

.white{
  color:white;
}
.left{
  text-align:left;
}
.right{
  text-align:right;
}
.header {
 display: inline-block;
}

.contact-links{
  display:relative;
  color:white;
}
.contact-title{
  padding-bottom:10vh;
}

.line-separator{
  height:1px;
  width:100%;
  text-align:center;
  background: white;
  border-bottom:1px solid white;
}
.line-separator-dark{
  height:2px;
  width:100%;
  text-align:center;
  background: white;
  border-bottom:2px solid #2f2f2f;
  padding-top:5vh;
}

.rectangle{
  border:1px solid #000;
}
.row {
  padding-top: 3vh;
  text-align: center;
  display:inline-flex;
  width: 50vw;
}

.network{
  padding-top:10vh;
  padding-bottom:10vh;
}
.logo{
  padding-left:2vw;
  padding-right:2vw;
}
.logo img{
  height: 8vh;
}

.about-description{
  width:20vw;
  text-align: left;
}
.about-facts{
  width:40vw;
  text-align: left !important;
}
.about-stuff{
  padding: 0 0 0 0;
  display:inline-flex;
}
.about-intro{
  padding: 5vh 10vw 7vh 10vw;
  display:inline-flex;
}

.experience-list{
  display:inline-grid;
}

.experience-desc{
  padding: 3vh 3vw 3vh 3vw;
  text-align:left;
}
.project-list{
  padding-top:5vh;
}

.v-center-container{
  display: table;
  vertical-align: middle;
}
.v-center{
  display:table-cell;
  vertical-align: middle;
}
.project-image {
  height: 35vh;
  padding: 1vh;
}
.image{
  height: 35vh;
}
.project-desc{
  width:30vw;
  height: 35vh;
  padding: 1vh;
}
.project-hidden{
  padding:1vh 0.5vw 1vh 0.5vw;
  text-align: center;
  background-color: white;
}

.nav,
.about__link,
.item {
  list-style: none; }

.nav,
.about__link {
  display: inline-block; }

.nav {
  margin-right: 1vw;
  position: relative; }

.nav:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #f7538d;
  content: "";
  transition: width 0.2s; }

.nav:hover:after {
  width: 100%; }

.mailto {
  color: white;
  text-align: center;
  position: relative; }

.press {
  margin-top: 100px; }

.underline
.underline-pink,
.underline-blue,
.underline-green {
  position: relative; }

.underline:hover:after
.underline-pink:hover:after,
.underline-blue:hover:after,
.underline-green:hover:after {
  width: 100%; }

.underline-pink:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #f7538d;
  content: "";
  transition: width 0.2s; }

.underline-blue:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #51dff0;
  content: "";
  transition: width 0.2s; }

.underline:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  content: "";
  transition: width 0.2s; }
.underline-green:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #348c45;
  content: "";
  transition: width 0.2s; }

@media (max-width: 992px) {
  .section {
    padding: 10vh 0 0vh 0;
    text-align: center;
   }
  .header-section{
    text-align: left !important;
    padding: 40vh 10vw 40vh 10vw;
    text-align: center;
    background: #2f2f2f;
  }

  h3{
    display:block;
    text-align: center;

  }
  .row {
    padding-top: 3vh;
    display:table-row;
  }

  .project-image {
    display:inline-table;
    height: 35vh;
    padding: 1vh;
  }
  .image{
    height: 35vh;
  }
  .project-desc{
    display:inline-table;
    width:50vw;
    padding: 1vh;
  }
}

@media (max-width: 592px) {
  .section {
    padding: 10vh 0 0vh 0;
    text-align: center;
   }
  .header-section{
    text-align: left !important;
    padding: 40vh 10vw 40vh 10vw;
    text-align: center;
    background: #2f2f2f;
  }

  h3{
    display:block;
    text-align: center;

  }
  .row {
    padding-top: 3vh;
    display:table-row;
  }

  .project-image {
    display:inline-table;
    height: 35vh;
    padding: 1vh;
  }
  .image{
    height: 35vh;
  }
  .project-desc{
    display:inline-table;
    width:50vw;
    padding: 1vh;
  }
}
