@import url("/style/fonts/franklin/franklin.css");
@import url(https://fonts.googleapis.com/css?family=Lekton);
h1 {
  font: 80px 'franklin', sans-serif;
  margin: 0 auto; }

p, li {
  font: 16px "Lekton", monospace;
  line-height: 28px; }

li {
  display: inline-block;
  margin-right: 40px; }

a {
  color: black;
  text-decoration: none; }
